html {
    background: url(http://i.imgur.com/L3G2Af2.jpg) center center fixed transparent;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size:cover;
    background-position:absolute;
    background-repeat: repeat-y;
}

body {
    background-color: rgba(0, 0, 0, 0);
    background-size:cover;
    font-family: 'Avenir Next';
    color: white;
}

h1 {
    font-size: 100pt;
}

h2 {
    font-size: 50pt;
}

input {
    color:black;
}

div {
    padding: 5px;
}

#profilepic {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

#movieInfo {

}

#settings {
    position: relative;
    right: 200px;
    top: 12px;
}

#check {
    position: relative;
    bottom: 2.5px;
}

.vertical-center {
  min-height: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#round {
    width: 60%;
    border-radius: 5px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
}

.search {
    position: relative;
    width: 190px;
    height: 20px;
}

/* unvisited link */
a:link {
    color: white;
}
/* visited link */
a:visited {
    color: white;
}
/* mouse over link */
a:hover {
    color: #e74c3c;
}
/* selected link */
a:active {
    color: #e74c3c;
}

.btn:hover {
    color: white;
    border: none;
    cursor: pointer;
    display: pointer;

}
/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;

    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.movieDropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: white;
    opacity: 0.5;
    min-width: 1000px;
    min-height: 100px
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content2 a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: black;
}

.dropdown2:hover .dropbtn {
    background-color: black;
}

#loading {
    position: absolute;
    width: 115%;
    height: 80%;
    background: url('loading.gif') no-repeat center center;
    background-size: 350px;
}

#imgid {
-webkit-animation-name: cssAnimation;
-webkit-animation-duration:1s;
-webkit-animation-iteration-count: 1;
-webkit-animation-timing-function: ease;
-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes cssAnimation {
from {
-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}
to {
-webkit-transform: rotate(360deg) scale(1) skew(180deg) translate(0px);
}
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}

#plussign.over {
    border: 2px dashed #000;
}

.flipimg {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.container2 {
  width:100%;
  height:auto;
  padding:1%;
}
