html {
    background: url(http://i.imgur.com/L3G2Af2.jpg) center center fixed transparent;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size:cover;
    background-position:absolute;
    background-repeat: repeat-y;
}

body {
    background-color: rgba(0, 0, 0, 0);
    background-size:cover;
    font-family: 'Avenir Next';
    color: white;
}


h1 {
    font-size: 100pt;
}

h2 {
    font-size: 50pt;
}

input {
    color:black;
}

div {
    padding: 5px;
}

#profilepic {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

#movieInfo {

}

.vertical-center {
  min-height: 50%;
  min-height: 100vh; 
  display: flex;
  align-items: center;
}

#round {
    width: 60%;
    border-radius: 5px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
}

.search {
    position: relative;
    width: 190px;
    height: 20px;
}

/* unvisited link */
a:link {
    color: white;
}
/* visited link */
a:visited {
    color: white;
}
/* mouse over link */
a:hover {
    color: #e74c3c;
}
/* selected link */
a:active {
    color: #e74c3c;
}

.btn:hover {
    color: white;
    border: none;
    cursor: pointer;
    display: pointer;
    
}
/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: black;
}
