<!-- creata a new account page -->
<div class="row header col-sm-12" stye="height: 100px; colour: black"> 
	<div class="col-sm-4">
		<a ng-click="goBack" href="#!/homepage" type="button" class="btn" style="background-clour:#e74c3c;"><h6>Go Back</h6></a>
			
	</div>
	<div class="col-sm-6"></div>
	<div class"col-sm-2">
		<a ng-click="menu" href="#!/homepage" type="button" class="btn" style="background-clour:#e74c3c;"><h6>Menu</h6></a><a ng-click="menu" href="#!/homepage" type="button" class="btn" style="background-clour:#e74c3c;"><h6>Logg Out</h6></a>
	</div>

</div>
<div class="container" id="createnewaccount">
	<div class="col-sm-12">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
			<form>
			  Name:<br>
			  <input ng-model="name" type="text" name="name" value="">
			  <br>
			  Favorite snack:<br>
			  <input ng-model="snack" type="text" name="snack" value="">
			  <br>
			  Url to profilepicture:<br>
			  <input ng-model="image" type="text" name="imageUrl" value="">
			  <br>
			</form> 
			</br></br></br>
			<a ng-click="create(name, snack, image)" href="#!/movieSearch" type="button" class="btn btn-primary btn-lg btn-block" style="background-color:#e74c3c; border-color: #c44437;"><h4>Create new account</h4></a>
	</div>
	<div class="col-sm-4"></div>
	</div>
</div>