<!-- creata a new account page -->
<div class="container"><ng-include src="'partials/header2.html'" ng-controller="header2Ctrl"></ng-include></div>
<div class="container" id="createnewaccount">

	<div class="col-sm-12">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
			<form style="text-align: center;">
			Your Name: <br>
			  <input ng-model="realname" type="text" name="realname" value="">
			  <br></br>
			  Desired Username:<br>
			  <input ng-model="username" type="text" name="username" value="">
			  <br></br>
			  Password:<br>
			  <input ng-model="password" type="password" name="password" value="">
			  <br></br>
			  Favorite snack:<br>
			  <input ng-model="snack" type="text" name="snack" value="">
			  <br></br>
			  Url to Profile Picture:<br>
			  <input ng-model="image" type="text" name="imageUrl" value="">
			  <br>
			</form>

			<div style="text-align:center;" ng-show="usernameerror">That username is already taken, sorry. Try another one.</div>
			<div style="text-align:center;" ng-show="infoenter">You have to enter information in every field.</div>

			</br></br></br>
			<a ng-click="create(username, realname, password, snack, image)" type="button" class="btn btn-primary btn-lg btn-block" style="background-color:#e74c3c; border-color: #c44437;"><h4>Create new account</h4></a>
	</div>
	<div class="col-sm-4"></div>
	</div>
</div>
