<div class="container">
	<ng-include src="'partials/header.html'" ng-controller="headerCtrl"></ng-include>

	<div class="container2" id="friends">

	  	<div class="col-sm-12"><h2 style="text-align: center">Other Users</h2></div>

	  	<div class="col-sm-12" ng-repeat="user in userlist">
				<div class="col-sm-6" align="left">
					<img ng-src="{{getPicture(user)}}" id="friend_pic" style="height:200px; width:200px; display:block; margin:auto;"/></br>
				</div>
				<div class="col-sm-6" align="text-align: left"></br>
					<h3><a ng-href="#!/friendsMovieList/{{user.realname}}">{{user.val().realname}}s Movielist </a></h3></br>
					<b>Favorite moviesnacks:<h4>{{user.val().snack}}</h4></b>
				</div>
			</div>
	</div>
</div>
