	<div class="container" id="friends"></br>
  <div class="col-sm-12"><h2 style="text-align: center">YOUR FRIENDS</h2></div>
  <div class="col-sm-12">
	<div class="col-sm-6"><img src="https://scontent-arn2-1.xx.fbcdn.net/v/t31.0-8/15128952_10207573719443039_6551904099240725029_o.jpg?oh=ba077902a4ab5a8b34365a4370102bc6&oe=596A1CA6" id="profilepic" style="height:200px; width:200px; display:block; margin:auto; "></br></div>
	<div class="col-sm-6" alaign="right">
    <a href=""><h3>Anton Martinsson</h3></a>
    <b>Favoritfilm:</b> Hobbit </br>
    <b>Filmsnacks:</b> Popcorn </br>
    <b>Gillar: </b>
</div>
</div>

<div class="col-sm-12">
  <div class="col-sm-6"><img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/12122573_10153249497052897_4160945028370650667_n.jpg?oh=7805c5c5f8fb2462a23f2da10445d950&oe=59605CBF" id="profilepic" style="height:200px; width:200px; display:block; margin:auto; "></br></div>
	<div class="col-sm-6" alaign="right">
    <a href=""><h3>Karolin Karlsson</h3></a>
    <b>Favoritfilm:</b> Pippi</br>
    <b>Filmsnacks:</b> Lösgodis</br>
    <b>Gillar: </b>
  </div>
</div>

<div class="col-sm-12">
  <div class="col-sm-6"><img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/12798888_10207482327127676_7699762771987287575_n.jpg?oh=7c2b1259855b24fb19bf78819278b9bb&oe=5955757D" id="profilepic" style="height:200px; width:200px; display:block; margin:auto; "></br></div>
	<div class="col-sm-6" alaign="right">
    <a href=""><h3>Olivia Bengtsson</h3></a>
    <b>Favoritfilm:</b> The Notebook</br>
    <b>Filmsnacks:</b> Sportlunch</br>
    <b>Gillar: </b>
  </div>
</div>

<div class="col-sm-12">
  <div class="col-sm-6"><img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/12715711_10205428541053028_366262038498804498_n.jpg?oh=cd5d139bc01db9ac2c60858e64dc46e5&oe=59639E42" id="profilepic" style="height:200px; width:200px; display:block; margin:auto; "></br></div>
	<div class="col-sm-6" alaign="right">
    <a href=""><h3>Petra Olsson</h3></a>
    <b>Favoritfilm:</b> MKM 4-ever</br>
    <b>Filmsnacks:</b> Choklad</br>
    <b>Gillar: </b>
  </div>
</div>
