<!--FRIENSPROFILE-->
<div class="container">
	<ng-include src="'partials/header.html'" ng-controller="headerCtrl"></ng-include>

	<div class="col-sm-12"
	style="margin-top: 50px; text-align: left; font-size: 15pt;">
		<div class="col-sm-4">
			<img ng-src="{{image()}}" id="profilepic"
			style="height:200px; width:200px; display:block; margin:auto;">
		</div>
		<div class="col-sm-4">
			<h3>Namnet {{name()}}</h3></br>
			<b>Favoritsnacks: </b>{{snack()}}
		</div>
		<div class="col-sm-4" id="myMovieList" ondrop="drop(event)" ondragover="allowDrop(event)">
			<img src="graphics/popcorn-icon.png" id="movieList"
			style="opacity: 0.5; height:140px; width:120px; margin-top: 5%; margin-left: 40%;">
		</div>
	</div>

	<div id="movieList" class="col-sm-12" style="text-align: left; font-size: 15pt; margin-top: 50px;">
		<div style="margin-top:20px; margin-bottom:50px;">
			<div style="list-style-type:none"
			ng-repeat="movie in list" class="col-sm-2">
			<img src="https://image.tmdb.org/t/p/w1280{{movie.poster_path}}"
			id="the_movie" height="210px" width="140px" draggable="true" ondragstart="drag(event)">
			<div ng-click="check(movie.id)"
			style="{{dict[movie.id]}}; text-align: center;">
			{{movie.title}}<br/></div>
			</div>
		</div>
	</div>
</div>

<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("the_movie", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("the_movie");
    ev.target.appendChild(document.getElementById(data));
}
</script>
