<!--FRIENSPROFILE-->

<ng-include src="'partials/header.html'" ng-controller="headerCtrl"></ng-include>
	<div class="container">
		<div class="col-sm-5" style="margin-top: 50px;">
			<div style="text-align: center; font-size: 15pt;">
			  	<img ng-src="{{image()}}" id="profilepic"
			  	style="height:300px; width:300px; display:block; margin:auto;"></br>
			 	<h3>{{name()}}</h3></br>
			  	<b>Favoritsnacks: </b>{{snack()}}</br>
			  	<b>Filmer jag gillar:</b></br>
			  	<a href="#!/movieList">My Movielist</a>
			</div>
		</div>
		<div id="movieList">
			<div class="col-sm-7" style="text-align: left; font-size: 20pt; margin-top: 50px;">
				<div style="margin-top:50px" style="margin-bottom:50px;">
					<ul style="list-style-type:none" ng-repeat="movie in list">
						<div ng-click="check(movie.id)"><li style="{{dict[movie.id]}}">{{movie.title}}<br/></li></div>
					</ul>
				</div>
			</div>
		</div>
	</div>

