
<div id="header">
	<div class="col-sm-12" style="background-colour: black">
		<div class="col-sm-4">
			<a ng-click="goBack" href="#!/homepage" type="button" class="btn" style="background-clour:#e74c3c;"><h6>Menu</h6></a><a ng-click="myLists" href="#!/movieList" type="button" class="btn" style="background-clour:#e74c3c;"><h6>My Movielist</h6></a>
		</div>
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<a ng-click="goBack" href="#!/homepage" type="button" class="btn" style="background-clour:#e74c3c;"><h6>Log Out</h6></a><a ng-click="" href="#!/profile" type="button" class="btn"><h6>Logged In As:{{name()}}</h6></a>
		</div>
	</div>
</div>
