<div class="col-sm-12" style="background-colour: black">
		<div class="col-sm-4">
			<a ng-click="home" href="#!/homepage" type="button" class="btn"><h6>Home</h6></a>
			<div class="dropdown">
	  			<button onclick="myFunction()" class="dropbtn"><h6>Menu</h6></button>
	 			<div id="myDropdown" class="dropdown-content">
				    <a href="#!/login">Log in</a>
				    <a href="#!/createAccount">Create an account</a>
	  			</div>
	  		</div>
	  	</div>
		<div class="col-sm-5"></div>
		<div class="col-sm-3">
			<a ng-click="logIn" href="#!/login" type="button" class="btn"><h6>Log In</h6></a><a ng-click="" href="#!/createAccount" type="button" class="btn"><h6>Create account</h6></a>
		</div>
	</div>
