<!--login oage-->
<div class="container vertical-center" id="login">
	<div class="col-sm-12">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
			<form style='text-align: center';>
			  Username:</br>
			  <input ng-model="username" type="text" name="username" value="">
			  </br></br>
			  Password:</br>
			  <input ng-model="password" type="text" name="password" value="">
			  <br>
			</form> 
			</br></br></br>
			<a ng-click="login(username, password)" type="button" class="btn btn-primary btn-lg btn-block" style="background-color:#e74c3c; border-color: #c44437;"><h4>Login</h4></a>
	</div>
	<div class="col-sm-4"></div>
	</div>
</div>
