<div class="container">
<ng-include src="'partials/header.html'" ng-controller="headerCtrl"></ng-include>

<div id='movieInfo'><h2>{{title}}</h2></br><div class='col-sm-5'><img src={{poster}} height='150%' width='100%'/></div>
<div class='col-sm-7' style='font-size: 15pt;'>
	<b>Overview: </b>{{overview}}</br></br>
	<b>Original Language: </b>{{language}}</br></br>
	<b>Average Rating: </b>{{vote_average}}/10 {{vote_count}} voters</br></br></div>

		<div class='col-sm-2' ng-show="heart" style="text-align:left;">
			<a style='color: #e74c3c;' ng-click="add()">
				<img src='http://i.imgur.com/EQWK9jp.png' height='100px' width='100px'/></br>
				<b>Add to my list</b></a>
		</div>

		<div class="col-sm-3" ng-show="nopeHeart" style="text-align:left;">
			<a style='color: white;' ng-click="delete()">
			<b>Remove from my list</b></a>
		</div>

</div>
