<!-- Movielist -->
<div class="container">
<ng-include src="'partials/header.html'" ng-controller="headerCtrl"></ng-include>

	<div class="col-sm-5" style="margin-top: 50px;">
		<ng-include src="'partials/profile.html'" ng-controller="profileCtrl"></ng-include>
	</div>
	<div id="movieList">
		<div class="col-sm-7" style="text-align: left; font-size: 20pt; margin-top: 50px;">
			<div style="margin-top:50px" style="margin-bottom:50px;">
				<ul style="list-style-type:none" ng-repeat="movie in list">
					<div ng-click="check(movie.id)"><li style="{{dict[movie.id]}}"><image id="check" src='{{pictureDict[movie.id]}}' height='25px' width='25px'/> &nbsp; {{movie.title}}<br/></li></div>
				</ul>
			</div>
		</div>
	</div>

</div>
