<!--PROFILE-->
<div style="text-align: center; font-size: 15pt;">
  <img ng-src="{{src}}" id="profilepic" style="height:220px; width:220px; display:block; margin:auto;"></br>
  <div style="font-size: 60px"> {{name()}} </div>
  <div style="font-size: 15px"><b>Favorite snack:</b> {{snack()}}</br></br></div>
  <div id='findme'>
	  <image src='http://uploads.webflow.com/5734be31b9c50c7e346b24b4/5734be31b9c50c7e346b24f2_Icon-arrow-right-white.png' height='18px' width='18px'/>
    <a href="#!/movieList"> My Movielist </a>
    <image src='http://uploads.webflow.com/5734be31b9c50c7e346b24b4/5734be31b9c50c7e346b24f2_Icon-arrow-right-white.png' class="flipimg" height='18px' width='18px'/></br>
  </div>
</div>
