<!--PROFILE-->
<style>
.droptarget {
    float: left; 
    width: 100px; 
    height: 35px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
</style>

<div style="text-align: center; font-size: 15pt;">
  <img ng-src="{{image()}}" id="profilepic"
  style="height:300px; width:300px; display:block; margin:auto;"></br>
  <h3>{{name()}}</h3></br>
  <b>Favorite snack: </b>{{snack()}}</br></br>
  <a href="#!/movieList">My Movielist</a>
  <div id="plussign" ondrop="drop(event)" ondragover="allowDrop(event)" style="opacity: 0.5;"><img src="http://i.imgur.com/lclt0VW.png" height="140px" width="140px"></div>

<script>

function dragStart(event) {
    event.dataTransfer.setData("Text", event.target.id);
}

function allowDrop(event) {
    event.preventDefault();
}

function drop(event) {
    event.preventDefault();
    var data = event.dataTransfer.getData("Text");
    console.log(data);
    add(data);
}

function add(data) {
	datalist = data.split(",");
	console.log(datalist[0]);
	console.log(datalist[1]);
		firebase.database().ref('/movieLists/' + datalist[1] + "/movie").once('value', function(snapshot) {
			snapshot.forEach(function(childSnapshot) {
				var key = childSnapshot.key;
				var movieId = parseInt(childSnapshot.child('movie').val());
				if (datalist[0] === movieId) { 
					console.log('already in list! Removing dublette');
					firebase.database().ref('movieLists/' + currentUser + "/movie/" + key).remove();
					return;
				}
			});
		});
		console.log('added movie to database')
		firebase.database().ref('movieLists/' + datalist[1] + "/movie").push().set({
			movie: datalist[0],
			checked: false
		})
	}
</script>
