<!--HOMEPAGE-->
<div class="container" id="welcome">
<ng-include src="'partials/header.html'" ng-controller="headerCtrl"></ng-include>

<div class="col-sm-12" style="display:flex; align-items: center; justify-content: center; padding-top:30px"><h2>Congrats to your new account</h2></div>

<div class="col-sm-12">
<div class="col-sm-4"></div>
<div class="col-sm-4"></br></br></br><a href="#!/movieList" type="button" class="btn btn-primary btn-lg btn-block" style="background-color:#e74c3c; border-color: #c44437;"><h4>Get Started</h4></a></div>
<div class="col-sm-4"></div>
</div>

<div class="col-sm-12">
<div class="col-sm-4"><img src="http://i.imgur.com/4JJmLan.png" height=200px width=200px style="display:block; margin: auto;"></div>
<div class="col-sm-4"><img src="http://i.imgur.com/WZSLwt5.png" height=200px width=200px style="display:block; margin: auto;"></div>
<div class="col-sm-4"><img src="http://i.imgur.com/xknUUdY.png" height=200px width=200px style="display:block; margin: auto;"></div>
</div>

<div class="col-sm-12" style="padding-bottom: 50px;">
<div class="col-sm-4" style="display:block; margin: auto; text-align: center; color:white;">Search for the latest and greatest</div>
<div class="col-sm-4" style="display:block; margin: auto; text-align: center; color:white;">Look up other users favorite movies</div>
<div class="col-sm-4" style="display:block; margin: auto; text-align: center; color:white;">Check off movie after movie</div>
</div>
